

<div class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">


            <div class="editor-card">
                <h2>Sun / Lighting <button type="button" data-action="addSun" class="btn-sm"><i class="fas fa-plus"></i> Add</button></h2>
                
                <div class="timeline-container">
                    {{#each months}}<div class="timeline-segment {{sunClass}}">{{abbreviation}}</div>{{/each}}
                </div>
                {{#if sunErrors.length}}<div class="error-box">Overlap Detected in Sun Config!</div>{{/if}}

                {{#if sun}}
                <table>
                    <thead><tr><th style="width:30px;">Use</th><th>Start</th><th>End</th><th style="width:70px;">Dawn</th><th style="width:70px;">Dusk</th><th style="width:30px;"></th></tr></thead>
                    <tbody>
                        {{#each sun}}
                        <tr class="{{#if isOverlapping}}error-border{{/if}}">
                            <td><input type="checkbox" name="sun.values.{{index}}.included" {{#if included}}checked{{/if}}></td>
                            <td>
                                <select name="sun.values.{{index}}.monthStart" {{#unless included}}disabled{{/unless}}>
                                    {{#each ../uniqueMonthOrdinals}}
                                    <option value="{{this.ordinal}}" {{#if (eq this.ordinal ../monthStart)}}selected{{/if}}>{{displayName}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <select name="sun.values.{{index}}.monthEnd" {{#unless included}}disabled{{/unless}}>
                                    {{#each ../uniqueMonthOrdinals}}
                                    <option value="{{this.ordinal}}" {{#if (eq this.ordinal ../monthEnd)}}selected{{/if}}>{{displayName}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td><input type="number" name="sun.values.{{index}}.dawn" value="{{dawn}}" {{#unless included}}disabled{{/unless}}></td>
                            <td><input type="number" name="sun.values.{{index}}.dusk" value="{{dusk}}" {{#unless included}}disabled{{/unless}}></td>
                            <td><a data-action="removeSun" data-index="{{index}}" style="color:red;"><i class="fas fa-trash"></i></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>
  
