<div class="wgtngm-calendar">
    <header class="calendar-header">
        <button data-action="prev-month" title="Previous Month"><i class="fas fa-chevron-left"></i></button>
        <h3 data-action="set-year" title="Click to set year">{{monthName}} {{year}}</h3>
        <button data-action="next-month" title="Next Month"><i class="fas fa-chevron-right"></i></button>
    </header>

    <div class="calendar-grid wgtngm-calendar-grid">
        {{#each weekdays}}
        <div class="weekday">{{#unless ../isIntercalary}}{{this}}{{/unless}}</div>
        {{/each}}

        {{#each days}}
        
            {{#if this.isBlank}}
                <div class="day blank"></div>
            {{else}}
            <div class="day {{#if this.isCurrentDay}}current{{/if}}"
                data-date="{{json this.date}}"
                data-has-event="{{this.hasEvent}}"
                data-action="set-date"> 

                <span class="day-number">{{this.dayNumber}}</span>
                    {{#if (and this.weatherIcon this.showWeather)}}
                    <div class="weather-icon" title="" >
                        <i class="{{this.weatherIcon}}"><span class="wgtngm-tooltip"><p>{{this.weatherTooltip}}</p></span></i>
                    </div>
                    {{/if}}
                <div class="day-icons">
                    {{#if (or ../isGM this.hasVisible)}}

                    {{#if this.hasEvent}}
                        <i class="{{this.noteIcon}} event-icon {{#if this.hasRecurring}}recurring-note{{/if}}"><span class="wgtngm-tooltip">{{#if ../isGM}}{{{this.noteTooltip}}}{{else}}{{{noteTooltipPlayerVisible}}}{{/if}}</span></i>
                    {{/if}}{{/if}}
                    {{#each this.moonPhases}}
                        <div class="moon-phase-wrapper" title="{{this.name}}: {{this.phaseDisplayName}}" style="--moon-color: {{this.color}};">
                            <img src="{{this.image}}" class="moon-base">
                        <div class="moon-tint" style="-webkit-mask-image: url('{{this.image}}'); mask-image: url('{{this.image}}');"></div>
                        </div>
                    {{/each}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
 
    <div class="calendar-mini">
        {{#if isGM}}
            {{#each currentMoon}}
                <div class="moon-phase-wrapper" title="{{this.name}}: {{this.phaseDisplayName}}" style="--moon-color: {{this.color}};">
                    <img src="{{this.image}}" class="moon-base">
                <div class="moon-tint" style="-webkit-mask-image: url('{{this.image}}'); mask-image: url('{{this.image}}');"></div>
                </div>
            {{/each}}  
             {{#if currentHasEvent}}<i class="{{currentNoteIcon}} event-icon {{#if this.hasRecurring}}recurring-note{{/if}}" data-date="{{json currentDate}}" data-action="add-note" ><span class="wgtngm-tooltip">{{{currentNoteTooltip}}}</span></i>{{/if}}
            <span class="current-day">{{currentDay}}</span> <span class="current-month">{{currentMonth}}</span> <span class="current-year">{{currentYear}}</span> 
            <i class="fas fa-sunrise" data-action="set-dawn" title="Set to Dawn"></i> 
            <i class="fas fa-sunset" data-action="set-sunset" title="Set to Dusk"></i> 
            <i class="fas fa-moon-stars" data-action="set-midnight" title="Set to Midnight"></i>
      {{else}}
        <div class="player">
            <div class="wgtgm-date">
               {{#each currentMoon}}
                 <div class="moon-phase-wrapper" title="{{this.name}}: {{this.phaseDisplayName}}" style="--moon-color: {{this.color}};">
                   <img src="{{this.image}}" class="moon-base">
                  <div class="moon-tint" style="-webkit-mask-image: url('{{this.image}}'); mask-image: url('{{this.image}}');"></div>
                  </div>
                {{/each}}  
               {{#if (and currentHasEvent currenthasVisible)}}<i class="{{currentNoteIcon}} event-icon {{#if (and this.hasRecurring this.hasVisible)}}recurring-note{{/if}}" data-date="{{json currentDate}}" data-action="add-note" ><span class="wgtngm-tooltip">{{{currentNoteTooltipPlayerVisible}}}</span></i>{{/if}}  
            <span class="current-day">{{currentDay}}</span> <span class="current-month">{{currentMonth}}</span> <span class="current-year">{{currentYear}}</span> 
            </div>
    <footer class="calendar-mini-footer">            
        {{#if (and currentWeatherIcon showWeather)}}
            <div class="weather-icon" title="" >
                <i class="{{this.currentWeatherIcon}}" ><span class="wgtngm-tooltip"><p>{{this.currentWeatherTooltip}}</p></span></i>
            </div>
        {{/if}}
            <span class="time-display" title="Current Game Time" data-action="set-time">{{currentTime}}</span>
        </div>
       {{/if}}
     </div>
 </footer>
   {{#if isGM}}
    <footer class="calendar-mini-footer">
        <i class="fas fa-backward-fast" data-action="sub-hour" title="Subtract 1 Hour"></i>
        <i class="fas fa-backward-step" data-action="sub-minute" title="Subtract 10 Minutes"></i>
        {{#if (and currentWeatherIcon showWeather)}}
                    <div class="weather-icon" title="" >
                <i class="{{this.currentWeatherIcon}}" data-action="change-weather"><span class="wgtngm-tooltip"><p>{{this.currentWeatherTooltip}}</p></span></i>
            </div>
        {{/if}}
        <span class="time-display" title="Current Game Time" data-action="set-time">{{currentTime}}</span>

        <i class="fas {{#if isRunning}}fa-pause{{else}}fa-play{{/if}}" data-action="toggle-play" title="{{#if isRunning}}Pause Time{{else}}Start Time{{/if}}"></i>
        <i class="fas fa-forward-step" data-action="add-minute" title="Advance 10 Minutes"></i>
        <i class="fas fa-forward-fast" data-action="add-hour" title="Advance 1 Hour"></i>
    </footer>
    <div class="time-slider-wrapper slider-mini" style="">
                 <input type="range" class="mini-time-slider" min="0" max="{{maxSeconds}}" value="{{currentSeconds}}" step="{{stepSeconds}}" style="" title="Drag to adjust time">
    </div>
    <footer class="calendar-footer time-controls">
    
    <button data-action="sub-hour" title="Subtract 1 Hour"><i class="fas fa-minus"></i> 1h</button>
        <button data-action="sub-minute" title="Subtract 10 Minutes"><i class="fas fa-minus"></i> 10m</button>

        <button data-action="toggle-play" title="{{#if isRunning}}Pause Time{{else}}Start Time{{/if}}">
            <i class="fas {{#if isRunning}}fa-pause{{else}}fa-play{{/if}}"></i>
        </button>
        <span class="time-display" title="Current Game Time" data-action="set-time">{{currentTime}}</span>

        <button data-action="add-minute" title="Advance 10 Minutes"><i class="fas fa-plus"></i> 10m</button>
        <button data-action="add-hour" title="Advance 1 Hour"><i class="fas fa-plus"></i> 1h</button>
    </footer>
    <footer class="calendar-footer event-controls">
        <button data-action="go-today" title="Go to Today"><i class="fas fa-calendar-day"></i></button>
        <button data-action="set-dawn" title="Set to Dawn (Today)"><i class="fas fa-sunrise"></i></button>
        <button data-action="set-noon" title="Set to Noon (Today)"><i class="fas fa-sun"></i></button>
        <button data-action="set-sunset" title="Set to Dusk (Today)"><i class="fas fa-sunset"></i></button>
        <button data-action="set-midnight" title="Set to Midnight (Today)"><i class="fas fa-moon-stars"></i></button>
        <button data-action="set-dawn-next" title="Set to Dawn (Next Day)"><i class="fas fa-sunrise"></i>+</button>
        <button data-action="open-settings" title="Calendar Settings"><i class="fas fa-cog"></i></button>
        <button data-action="open-weather-settings" title="Weather Settings"><i class="fas fa-cloud-sun-rain"></i></button>
    </footer>
    {{else}}
     <footer class="calendar-footer time-controls player-view">
        <button data-action="go-today" title="Go to Today"><i class="fas fa-calendar-day"></i> Today</button>
        <span class="time-display" title="Current Game Time">{{currentTime}}</span>
     </footer>
    {{/if}}
</div>