<div class="calendaria-hud-search-panel{{#if searchOpen}} visible{{/if}}">
  <div class="search-panel-header">
    <input type="search" class="search-input" name="search" placeholder="{{localize 'CALENDARIA.Search.Placeholder'}}"
      value="{{searchTerm}}" autocomplete="off">
  </div>
  <div class="search-panel-results">
    {{#if searchResults.length}}
      {{#each searchResults}}
        <div class="search-result-item" data-action="openSearchResult" data-id="{{id}}"
          data-journal-id="{{data.journalId}}">
          <div class="result-content">
            <span class="result-name">{{name}}</span>
            {{#if description}}<span class="result-description">{{description}}</span>{{/if}}
          </div>
          <div class="result-icons">
            {{#if data.icon}}
              <i class="result-note-icon {{data.icon}}" style="color: {{data.color}}" data-tooltip
                aria-label="{{localize 'CALENDARIA.Search.NoteIcon'}}"></i>
            {{/if}}
            {{#if data.gmOnly}}
              <i class="result-gm-icon fas fa-lock" data-tooltip
                aria-label="{{localize 'CALENDARIA.Search.GMOnly'}}"></i>
            {{/if}}
            {{#if data.repeatIcon}}
              <i class="result-repeat-icon {{data.repeatIcon}}" data-tooltip aria-label="{{data.repeatTooltip}}"></i>
            {{/if}}
            {{#each data.categoryIcons}}
              <i class="result-category-icon fas {{this.icon}}" style="color: {{this.color}}" data-tooltip
                aria-label="{{this.label}}"></i>
            {{/each}}
          </div>
        </div>
      {{/each}}
    {{else if searchTerm}}
      <div class="no-results">
        <i class="fas fa-search"></i>
        <span>{{localize "CALENDARIA.Search.NoResults"}}</span>
      </div>
    {{/if}}
  </div>
</div>
