<div class="calendar-main-content">
  <div class="calendar-nav">
    <button type="button" data-action="navigate" data-direction="previous" data-tooltip
      aria-label="{{#if (eq displayMode 'week')}}{{localize 'CALENDARIA.CalendarApp.PreviousWeek'}}{{else if (eq displayMode 'year')}}{{localize 'CALENDARIA.CalendarApp.PreviousYears'}}{{else}}{{localize 'CALENDARIA.Common.PreviousMonth'}}{{/if}}">
      <i class="fas fa-chevron-left"></i>
    </button>

    <h2 class="calendar-title">
      {{#if calendarData}} {{#if (eq displayMode 'week')}} {{{calendarData.formattedHeader}}}
        {{else if (eq displayMode 'year')}}
          {{calendarData.startYearDisplay}} - {{calendarData.endYearDisplay}}
        {{else}} {{{calendarData.formattedHeader}}} {{/if}}
      {{else}} {{localize 'CALENDARIA.Common.Calendar'}} {{/if}}
    </h2>

    <button type="button" data-action="navigate" data-direction="next" data-tooltip
      aria-label="{{#if (eq displayMode 'week')}}{{localize 'CALENDARIA.CalendarApp.NextWeek'}}{{else if (eq displayMode 'year')}}{{localize 'CALENDARIA.CalendarApp.NextYears'}}{{else}}{{localize 'CALENDARIA.Common.NextMonth'}}{{/if}}">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  {{#if (or calendarData.currentSeason calendarData.currentEra cycleText weather editable widgets.hasIndicators)}}
    <div class="calendar-indicators">
      {{{widgets.weatherIndicator}}}
      {{{widgets.seasonIndicator}}}
      {{{widgets.eraIndicator}}}
      {{{widgets.cycleIndicator}}}
      {{{widgets.indicators}}}
    </div>
  {{/if}}
  {{#if (eq displayMode 'year')}} {{> "modules/calendaria/templates/sheets/calendar-year.hbs"}}
  {{else if (eq displayMode 'week')}} {{> "modules/calendaria/templates/sheets/calendar-week.hbs"}}
  {{else}} {{> "modules/calendaria/templates/sheets/calendar-grid.hbs"}} {{/if}}
</div>
