<div class="calendar-grid">
  {{#if calendarData}}
    <div class="calendar-weekdays"
      style="grid-template-columns: repeat({{calendarData.daysInWeek}}, var(--calendaria-day-size));">
      {{#each calendarData.weekdays}}
        <div class="weekday-header{{#if isRestDay}} rest-day{{/if}}">{{name}}</div>
      {{/each}}
    </div>

    <div class="calendar-days">
      {{#each calendarData.weeks}}
        {{#if this.isIntercalaryRow}}
          {{!-- Intercalary row: full width, centered, no weekday alignment --}}
          <div class="calendar-week intercalary-row">
            {{#each this.days}}
              <div
                class="calendar-day intercalary festival-day{{#if isToday}} today{{/if}}{{#if isSelected}} selected{{/if}}{{#if notes.length}} has-notes{{/if}}"
                data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" data-action="selectDay"
                data-tooltip-html="{{{dayTooltip}}}" {{#if festivalColor}}style="--festival-color: {{festivalColor}}"
                {{/if}}>
                <div class="day-number">
                  <span class="festival-name">{{festivalName}}</span>
                  {{#if moonPhases}}
                    <span class="day-moons">
                      {{#each moonPhases.visible}}
                        <span class="moon-phase{{#if color}} tinted{{/if}}" data-tooltip
                          aria-label="{{moonName}}: {{phaseName}}" {{#if color}}style="--moon-color: {{color}}" {{/if}}>
                          <img src="{{icon}}" alt="{{phaseName}}">
                        </span>
                      {{/each}}
                      {{#if moonPhases.overflow.length}}
                        <span class="moon-overflow" data-tooltip="{{{moonPhases.overflowTooltip}}}"
                          aria-label="{{moonPhases.overflowTooltipText}}">+{{moonPhases.overflow.length}}</span>
                      {{/if}}
                    </span>
                  {{/if}}
                </div>
                <div class="day-notes">
                  {{#each notes}}
                    <div class="note-indicator" data-tooltip aria-label="{{name}}" data-action="editNote"
                      data-note-id="{{id}}">
                      {{#if (eq system.iconType "fontawesome")}}
                        <i class="{{system.icon}}" style="color: {{system.color}}"></i>
                      {{else}}
                        <img src="{{system.icon}}" alt="{{name}}" style="width: 1rem; height: 1rem;">
                      {{/if}}
                    </div>
                  {{/each}}
                  {{#if ../../canAddNotes}}
                    <button type="button" class="add-note-btn" data-action="addNote" data-year="{{year}}"
                      data-month="{{month}}" data-day="{{day}}" data-tooltip
                      aria-label="{{localize 'CALENDARIA.Common.AddNote'}}">
                      <i class="fas fa-plus"></i>
                    </button>
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          {{!-- Regular week row --}}
          <div class="calendar-week"
            style="grid-template-columns: repeat({{../calendarData.daysInWeek}}, var(--calendaria-day-size));">
            {{#each this}}
              {{#if empty}}
                <div class="calendar-day empty"></div>
              {{else if isFromOtherMonth}}
                <div class="calendar-day other-month{{#if isToday}} today{{/if}}" data-action="navigateToMonth"
                  data-year="{{year}}" data-month="{{month}}" data-day="{{day}}">
                  <div class="day-number">{{day}}</div>
                </div>
              {{else}}
                <div
                  class="calendar-day{{#if isToday}} today{{/if}}{{#if isSelected}} selected{{/if}}{{#if notes.length}} has-notes{{/if}}{{#if isOddDay}} odd-day{{/if}}{{#if isFestival}} festival-day{{/if}}"
                  data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" data-action="selectDay"
                  data-tooltip-html="{{{dayTooltip}}}" {{#if festivalColor}}style="--festival-color: {{festivalColor}}"
                  {{/if}}>
                  <div class="day-number">
                    {{day}}
                    {{#if isFestival}}
                      <i class="{{#if festivalIcon}}{{festivalIcon}}{{else}}fas fa-star{{/if}} festival-icon"
                        data-tooltip
                        aria-label="{{festivalName}}{{#if festivalDescription}}: {{festivalDescription}}{{/if}}"></i>
                    {{/if}}
                    {{#if moonPhases}}
                      <span class="day-moons">
                        {{#each moonPhases.visible}}
                          <span class="moon-phase{{#if color}} tinted{{/if}}" data-tooltip
                            aria-label="{{moonName}}: {{phaseName}}" {{#if color}}style="--moon-color: {{color}}"
                            {{/if}}>
                            <img src="{{icon}}" alt="{{phaseName}}">
                          </span>
                        {{/each}}
                        {{#if moonPhases.overflow.length}}
                          <span class="moon-overflow" data-tooltip="{{{moonPhases.overflowTooltip}}}"
                            aria-label="{{moonPhases.overflowTooltipText}}">+{{moonPhases.overflow.length}}</span>
                        {{/if}}
                      </span>
                    {{/if}}
                  </div>
                  <div class="day-notes">
                    {{#each notes}}
                      <div class="note-indicator" data-tooltip aria-label="{{name}}" data-action="editNote"
                        data-note-id="{{id}}">
                        {{#if (eq system.iconType "fontawesome")}}
                          <i class="{{system.icon}}" style="color: {{system.color}}"></i>
                        {{else}}
                          <img src="{{system.icon}}" alt="{{name}}" style="width: 1rem; height: 1rem;">
                        {{/if}}
                      </div>
                    {{/each}}
                    {{#if ../../canAddNotes}}
                      <button type="button" class="add-note-btn" data-action="addNote" data-year="{{year}}"
                        data-month="{{month}}" data-day="{{day}}" data-tooltip
                        aria-label="{{localize 'CALENDARIA.Common.AddNote'}}">
                        <i class="fas fa-plus"></i>
                      </button>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/each}}

            {{#each multiDayEvents}}
              <div class="event-bar{{#if isContinuation}} continuation{{/if}}"
                style="left: {{left}}%; width: {{width}}%; top: calc(1.625rem + {{row}} * 1.625rem); background-color: {{color}};"
                data-tooltip aria-label="{{name}}" data-action="editNote" data-note-id="{{id}}">
                {{#if isContinuation}}
                  <i class="fas fa-angles-right event-bar-continuation"></i>
                {{else}}
                  {{#if (eq iconType "fontawesome")}}
                    <i class="{{icon}} event-bar-icon"></i>
                  {{else if icon}}
                    <img src="{{icon}}" alt="{{name}}" class="event-bar-icon">
                  {{/if}}
                {{/if}}
                <span class="event-bar-text">{{name}}</span>
              </div>
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    <div class="no-calendar">
      <p>{{localize 'CALENDARIA.CalendarApp.NoCalendarConfigured'}}</p>
    </div>
  {{/if}}
</div>
