<div class="calendar-year-view">
  {{#if calendarData.yearGrid}}
    <div class="year-grid">
      {{#each calendarData.yearGrid}}
        <div class="year-row">
          {{#each this}}
            <div class="year-cell {{#if isCurrent}}current-year{{/if}}" data-year="{{year}}">
              <div class="year-header">{{yearDisplay}}</div>
              <div class="year-months">
                {{#each months}}
                  <div class="month-mini {{#if hasNoDays}}no-days{{/if}}" data-year="{{year}}" data-month="{{month}}"
                    data-tooltip aria-label="{{tooltipText}}" data-action="selectMonth">{{abbreviation}}</div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="no-calendar">
      <p>{{localize 'CALENDARIA.CalendarApp.NoCalendarConfigured'}}</p>
    </div>
  {{/if}}
</div>
