<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <div class="standard-form">
    <div class="form-group">
      <label for="editor-weather-auto-generate">{{localize "CALENDARIA.Editor.Weather.AutoGenerate"}}</label>
      <div class="form-fields">
        <input type="checkbox" id="editor-weather-auto-generate" name="weather.autoGenerate"
          {{#if calendar.weather.autoGenerate}}checked{{/if}}>
      </div>
      <p class="hint">{{localize "CALENDARIA.Editor.Weather.AutoGenerateHint"}}</p>
    </div>
  </div>

  <fieldset class="season-climate-section">
    <legend data-tooltip aria-label="{{localize 'CALENDARIA.Editor.Weather.SeasonClimateHint'}}">
      {{localize "CALENDARIA.Editor.Weather.SeasonClimate"}}
    </legend>
    {{#if seasonClimateList.length}}
      <div class="items-list season-climate-list">
        {{#each seasonClimateList}}
          <div class="item flexrow">
            <i class="{{#if this.icon}}{{this.icon}}{{else}}fas fa-cloud-sun{{/if}}" style="color: {{this.color}}"></i>
            <span class="item-name">{{localize this.name}}</span>
            <div class="item-controls">
              <button type="button" data-action="editSeasonClimate" data-key="{{this.key}}" data-tooltip
                aria-label="{{localize 'CALENDARIA.Editor.Tooltip.EditSeasonClimate'}}">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="hint">{{localize "CALENDARIA.Editor.Weather.NoSeasons"}}</p>
    {{/if}}
  </fieldset>

  <fieldset>
    <legend data-tooltip aria-label="{{localize 'CALENDARIA.Editor.Weather.ZoneClimateHint'}}">
      {{localize "CALENDARIA.Editor.Weather.ZoneClimate"}}
    </legend>
    {{#if zoneList.length}}
      <div class="items-list zone-climate-list">
        <div class="list-header flexrow">
          <span class="col-active">{{localize "CALENDARIA.Editor.Weather.Zone.ActiveLabel"}}</span>
          <span class="col-name">{{localize "CALENDARIA.Editor.Weather.Zone.Name"}}</span>
          <span class="col-controls"></span>
        </div>
        {{#each zoneList}}
          <div class="item flexrow">
            <label class="col-active checkbox">
              <input type="checkbox" data-action="setActiveZone" data-key="{{this.key}}"
                {{#if this.isActive}}checked{{/if}}>
            </label>
            <input type="text" name="weather.zones.{{this.key}}.name" value="{{this.name}}" class="col-name">
            <div class="item-controls col-controls">
              <button type="button" data-action="editZoneClimate" data-key="{{this.key}}"
                class="{{#if this.hasPresets}}toggled{{/if}}" data-tooltip
                aria-label="{{localize 'CALENDARIA.Editor.Weather.Zone.EditClimate'}}">
                <i class="fas fa-cloud-sun"></i>
              </button>
              <button type="button" data-action="addZone" data-key="{{this.key}}" data-tooltip
                aria-label="{{localize 'CALENDARIA.Editor.Weather.Zone.Add'}}">
                <i class="fas fa-plus"></i>
              </button>
              <button type="button" data-action="deleteZone" data-key="{{this.key}}" data-tooltip
                aria-label="{{localize 'CALENDARIA.Editor.Weather.Zone.Delete'}}">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="add-first-item">
        <button type="button" data-action="addZone" data-key="">
          <i class="fas fa-plus"></i> {{localize "CALENDARIA.Editor.Weather.Zone.Add"}}
        </button>
      </div>
    {{/if}}
  </fieldset>
</section>
