<div class="calendaria-announcement">
  <div class="announcement-date">{{dateRange}}</div>
  {{#if content}}
    <div class="announcement-content">{{content}}</div>
  {{/if}}
  <a class="announcement-open" data-action="openNote" data-note-id="{{noteId}}" data-journal-id="{{journalId}}">
    {{{iconHtml}}} {{localize "CALENDARIA.Event.OpenNote"}}
  </a>
</div>
