<div class="dialog-date-picker">
  <div class="form-grid">
    <div class="form-group">
      <label>{{#if isMonthless}}{{localize "CALENDARIA.SetDate.DayOfYear"}}{{else}}{{localize "CALENDARIA.Common.Day"}}{{/if}}</label>
      <select name="day" id="day-select">
        {{#each days}}
          <option value="{{this}}" {{#if (eq this ../currentDay)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    {{#unless isMonthless}}
      <div class="form-group">
        <label>{{localize "CALENDARIA.Common.Month"}}</label>
        <select name="month" id="month-select">
          {{#each months}}
            <option value="{{index}}" {{#if selected}}selected{{/if}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    {{/unless}}
    <div class="form-group">
      <label>{{localize "CALENDARIA.Common.Year"}}</label>
      <input type="number" name="year" value="{{year}}" step="1">
    </div>
  </div>
</div>
