<div class="form-group slim">
  <label>{{localize "CALENDARIA.Scene.DarknessSync.Name"}}</label>
  <select name="flags.{{moduleId}}.{{flagName}}">
    <option value="default" {{#if (eq value "default")}}selected{{/if}}>
      {{localize "CALENDARIA.Scene.DarknessSync.Choices.Default"}}
    </option>
    <option value="enabled" {{#if (eq value "enabled")}}selected{{/if}}>
      {{localize "CALENDARIA.Scene.DarknessSync.Choices.Enabled"}}
    </option>
    <option value="disabled" {{#if (eq value "disabled")}}selected{{/if}}>
      {{localize "CALENDARIA.Scene.DarknessSync.Choices.Disabled"}}
    </option>
  </select>
  <p class="hint">{{localize "CALENDARIA.Scene.DarknessSync.Hint"}}</p>
</div>
<div class="form-group slim">
  <label>{{localize "CALENDARIA.Scene.BrightnessMultiplier.Name"}}</label>
  <div class="form-fields">
    <input type="range" name="flags.{{moduleId}}.{{brightnessFlag}}" min="0.5" max="1.5" step="0.1"
      value="{{brightnessMultiplier}}">
    <span class="range-value">{{brightnessMultiplier}}x</span>
  </div>
  <p class="hint">{{localize "CALENDARIA.Scene.BrightnessMultiplier.Hint"}}</p>
</div>
<div class="form-group slim">
  <label>{{localize "CALENDARIA.Scene.HudHideForPlayers.Name"}}</label>
  <input type="checkbox" name="flags.{{moduleId}}.{{hudHideFlag}}" {{#if hudHideForPlayers}}checked{{/if}}>
  <p class="hint">{{localize "CALENDARIA.Scene.HudHideForPlayers.Hint"}}</p>
</div>
<div class="form-group slim">
  <label>{{localize "CALENDARIA.Scene.ClimateZoneOverride.Name"}}</label>
  <select name="flags.{{moduleId}}.{{climateZoneFlag}}" {{#unless climateZones.length}}disabled{{/unless}}>
    <option value="" {{#unless climateZoneOverride}}selected{{/unless}}>
      {{localize "CALENDARIA.Scene.ClimateZoneOverride.Choices.Default"}}
    </option>
    {{#each climateZones}}
      <option value="{{this.id}}" {{#if (eq this.id ../climateZoneOverride)}}selected{{/if}}>
        {{this.name}}
      </option>
    {{/each}}
  </select>
  {{#if climateZones.length}}
    <p class="hint">{{localize "CALENDARIA.Scene.ClimateZoneOverride.Hint"}}</p>
  {{else}}
    <p class="hint">{{localize "CALENDARIA.Scene.ClimateZoneOverride.NoZones"}}</p>
  {{/if}}
</div>
